:root {
  --g: var(--100);
  --br: 500px;
  --mi: 10vw;

  --50: #ffebee;
  --100: #ffcdd2;
  --200: #ef9a9a;
  --300: #e57373;
  --400: #ef5350;
  --500: #f44236;
  --600: #e53835;
  --700: #d32e2f;
  --800: #c62728;
  --900: #b71b1c;

  --500alt: #9b8b8b;
  --600alt: #736464;
  --700alt: #5f5051;
  --800alt: #403333;

  --200com: #50ecef;

  --b: #000;
  --background: #1f1313;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  font-family: sans-serif;
  color: var(--50);
  margin: 0;
  max-width: 100%;
}

::selection {
  color: var(--b);
  background-color: var(--400);
}

a {
  color: var(--50);
  text-decoration: none;
}



/* :focus {
  outline: 0.5vh dashed var(--200com);
  outline-offset: 1vh;
} */

/* Scroll Bar */

body::-webkit-scrollbar {
  width: 0.5vw;
}

body::-webkit-scrollbar-track {
  background: var(--800alt);
  margin-inline: 100px;
}

body::-webkit-scrollbar-thumb {
  background: var(--500);
  border-radius: 10px 0 0 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: var(--400);
}

body::-webkit-scrollbar-corner {
  background: var(--800alt);
}

* {
  scrollbar-color: var(--500) var(--800alt);
}

/* Nav */

nav {
  background-color: var(--800alt);
  position: sticky;
  top: 0;
  display: flex;
  padding-inline: var(--mi);
}

.logo {
  font-variant-caps: all-petite-caps;
  font-weight: bold;
  text-decoration: none;
  font-size: 4vh;
  color: var(--50);
  padding-block: auto;
}

.rightnav {
  background-color: var(--900);
  padding: 2vh 2vw;
  border-radius: var(--br);
  transition: 300ms;
  margin-left: auto;
  margin-block: auto;
}

.rightnav:hover {
  background-color: var(--800);
  color: white;
}

nav > a > img {
  width: 3em;
}

/* Head */
.head {
  text-align: center;
  margin-inline: var(--mi);
  font-size: 1.5vw;
}

.head img {
  width: 30em;
  padding: inherit;
}

.img {
  float: right;
  width: 40%;
}

/* Grid , Feature List*/
.desc {
  display: grid;
  grid-template-areas:
    "desc1 img1"
    "img2 desc2";
  margin-inline: var(--mi);
  align-items: center;
  padding: 0 10px 0px 10px;
  grid-row-gap: 200px;

  justify-content: center;
  column-gap: 1vw;
}

.desc p {
  font-size: 1.5em;
}

.desc1 {
  padding-left: 20px;
  grid-area: desc1;
}

.desc1 p {
  color: var(--g);
  line-height: 1.8em;
}

.img {
  width: 100%;
  grid-area: img1;
}

.desc2 {
  padding-right: 20px;
  grid-area: desc2;
}

.desc2 p {
  color: var(--g);
  line-height: 1.8em;
}

.img2 {
  width: 100%;
  grid-area: img2;
  border-radius: 7px;
}

.gototop {
  background-color: var(--900);
  color: var(--100);
  font-weight: 900;
  border-radius: var(--br);
  position: sticky;
  display: flex;
  top: 90vh;
  width: 5vw;
  height: 4vw;
  justify-content: center;
  margin-left: auto;
  margin-right: 3vw;
  user-select: none;
}

.gototop > img {
  width: 60%;
}

.gototop:hover {
  background-color: var(--800);
  color: white;
}

.other-servers-h2 {
  margin-inline: var(--mi);
  font-variant-caps: all-petite-caps;
  font-size: 2em;
  padding-top: 10vh;
}

.other-servers {
  margin-inline: 15vw;
  display: grid;
  margin-block: 6vh;
  grid-template-areas: "cat carl blob";
  column-gap: 5px;
}

.other-servers > div div {
  border: calc(0.75vh + 5px) solid var(--600);
  border-radius: 25px;
  width: 10em;
  height: 15em;
  margin-inline: auto;
  transition: 200ms;
}

.other-servers > div div:hover {
  background-color: rgba(0, 0, 0, 0.349);
  border-radius: 13px;
}

.cat {
  grid-area: cat;
}

.carl {
  grid-area: carl;
}

.blob {
  grid-area: blob;
}

.other-servers p {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
}
/* Footer */

footer {
  background-color: var(--b);
  padding-inline: var(--mi);
  padding-block: 7vh;
}

footer h1 {
  font-size: 24px;
  margin: 0;
  color: var(--g);
}

footer h2 {
  font-size: 15px;
  font-weight: 500;
  margin: 0;
  color: var(--g);
}

@media screen and (orientation: portrait) {
  :root {
    --mi: 3%;
  }

  .logo {
    font-size: 3vh;
  }

  .rightnav {
    padding: 1.5vh;
    margin-block: auto;
  }

  nav > a > img {
    max-width: 4vh;
  }

  /* Head Stuff */

  .head > h1 {
    font-size: 7vw;
  }

  .head p {
    font-size: 5vw;
  }

  .head img {
    width: 70%;
  }

  /* Grid , Feature List*/
  /* 1 */
  .desc {
    grid-template-areas:
      "desc1"
      "img1"
      "desc2"
      "img2";
    margin-inline: var(--mi);
    grid-row-gap: 0;
  }

  .desc2 {
    margin-top: 20vh;
  }

  .gototop {
    height: 5vh;
    width: 5vh;
    top: 80vh;
    margin-right: 5vw;
  }

  .other-servers {
    grid-template-areas:
      "cat carl"
      "blob .";
    margin-inline: var(--mi);
    row-gap: 4vh;
  }

  .other-servers > div div {
    width: 35vw;
    height: 60vw;
  }

  .other-servers p {
    font-size: 5vw;
  }
}
